@model List<SaglikUrunleri.PL.MVC.Models.cSepet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SaglikLayout.cshtml";
}

<!--page-intro start-->
<!--*********************************************-->
<div class="page-into">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-home pr-10"></i><a href="index.html">Ana Sayfa</a>
                    </li>
                    <li class="active">Alışveriş Sepeti</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--page-intro end-->
<!--Main container start-->
@*section.main-container>.row>#sepetici.main.col-md-12>h1.page-title.margin-top-clear*@
<section class="main-container">
    <div class="row">
        <div id="sepetici" class="main col-md-12">
            <h1 class="page-title margin-top-clear">Alışveriş Sepeti</h1>
            <div class="space"></div>
            @*table.table.cart.table-hower.table-striped>thead>tr>th*5^^+tbody*@
            <table class="table cart table-hower table-striped">
                <thead>
                    <tr>
                        <th>Ürün Adı</th>
                        <th>Fiyat</th>
                        <th>Adet</th>
                        <th>Sil</th>
                        <th class="amount">Toplam</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr class="remove-data">
                        @*td.product+td.price+td.quentity*@
                        <td class="product">
                            <a href="~/Views/Home/UrunDetay/@item.urunId">content</a>
                        </td>
                        <td class="price"></td>
                        <td class="quentity"></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--Main container end-->
